.wrapper {
  display: grid;
  grid-template-columns: 1fr, auto;
  background-color: #9a8c98;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  color: #000000;
}
.wrapper h3 {
  margin: 20px auto;
  color: #ffffff;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#form input {
  background: white;
  appearance: none;
  border: 2px solid white;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-top: 10px;
  padding: 8px;
  width: auto;
  border-radius: 10px;
  border: 2px solid #c9ada7;
}

#addButton {
  background-color: inherit;
  color: white;
  border: none;
  appearance: none;
}
#addButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.removeButtonStyle {
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
}
.removeButtonStyle:hover {
  cursor: pointer;
  transform: scale(1.05);
}
