body {
  margin: 50px;
  background-color: #fffffc;
  font-family: cursive;
}
#wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ccc4fc;
  align-items: center;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(233, 232, 232);
  border: 5px solid #fdffb6;
}
.task {
  display: flex;
  background-color: #ffc6ff;
  justify-content: space-between;
  margin-top: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  border: 2.5px solid #fdffb6;
  box-shadow: 2px 2px #c77dff;
}
#task {
  border-radius: 10px;
  border: 3px solid #bdb2ff;
  padding: 10px;
}
#addButton {
  background-color: #caffbf;
  border-radius: 10px;
  border: 2px solid #a0c4ff;
  padding: 10px;
}
#addButton:hover {
  cursor: pointer;
  background-color: #fdffb6;
}
.removeButtonStyle {
  background-color: #ffd6a5;
  border: none;
  border-radius: 5px;
  border: 2px solid #fdffb6;
  cursor: pointer;
}
.removeButtonStyle:hover {
  background-color: #ffadad;
}
