:root {
  --bg-purple: #626875;
  --bg-green: #81b29a;
  --bg-orange: #f2cc8f;
  --bg-lemon: #62446e;
  --bg-pink: #997d99;
  --bg-salmon: #ffadad;
  --bg-gray: #ddd;
}
body {
  margin: 50px;
  background-color: var(--bg-purple);
  font-family: cursive;
}
.wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--bg-pink);
  align-items: center;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}
.wrapper h3 {
  color: var(--bg-purple);
  margin: 0 auto;
  padding: 20px;
}
.wrapper h3 span {
  color: var(--bg-purple);
}
#form {
  border-bottom: 2px solid var(--bg-lemon);
}
::placeholder {
  color: var(--bg-purple);
  opacity: 1; /* Firefox */
}
.task {
  display: flex;
  background-color: var(--bg-pink);
  justify-content: space-between;
  margin-top: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--bg-lemon);
}
#task {
  background: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 10px;
}

#addButton {
  background-color: inherit;
  color: var(--bg-lemon);
  font-weight: bolder;
  border: none;
  appearance: none;
}
#addButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.removeButtonStyle {
  background-color: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  font-weight: bold;
  color: var(--bg-lemon);
}
.removeButtonStyle:hover {
  cursor: pointer;
  transform: scale(1.1);
}
